:root{
    --White: hsl(0, 0%, 100%)
    --Light-gray: hsl(212, 45%, 89%)
    --Grayish-blue: hsl(220, 15%, 55%)  
    --Dark-blue: hsl(218, 44%, 22%)
}
*{
    font-family: 'Outfit', sans-serif;
}
body{
    margin: 0;
    background-color: hsl(212, 45%, 89%);
}
main{
    font-size: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.cardMain{
    margin-top: 5rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 20px black;
}
img{
    width: 15rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
}
.cardMain p{
    text-align: center;
}
.qrTextHeader{
    font-size: 18px;
    color:  hsl(218, 44%, 22%);
}
.qrText{
    font-size: 12px;
    color: hsl(220, 15%, 55%);
    margin-bottom: 2rem;
}
footer{
    width: 100%;
    margin-top: 9rem;
}